body, html {
    font-size: 1em;
    background: #eceef1;
    margin: 0;
    border: 0;
}

.container {
    width: 780px;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

.header {
    border-bottom: 1em solid #eceef1;
}

.header h1 {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 0;
}

.header p {
    margin: 12px;
    margin-top: 0;
}

.footer {
    border-top: 1em solid #eceef1;
}

.footer p {
    margin: 12px;
    margin-bottom: 0;
    padding-bottom: 12px;
}

ol {
    counter-reset: li;
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: decimal;
}

ol li {
    padding: 15px 0 15px 70px;
    color: #CCC;
    font-weight: bold;
    font-size: 1em;
    list-style: none;
    position: relative;
    border-bottom: 1px solid #eceef1;    
}

ol li::before {
    content: counter(li) ".";
    counter-increment: li;
    position: absolute;
    top: 15px;
    left: 27px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ol li h1 {
    cursor: auto;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
    display: inline-block;
    margin-right: 12px;
}

ol li a {
    color: #004A83;
    text-decoration: none;
}

ol li a:visited {
    color: #99BCDB;
}

div.section {
    color: #CCC;
    font: normal 1em Helvetica,Arial,Sans-Serif;
    display: inline-block;
    white-space: nowrap;    
}

div.date {
    color: #CCC;
    font: normal 0.8em Helvetica,Arial,Sans-Serif;    
}